/*---------------------Structure--------------------*/

html,body{
    background-color: rgb(30, 32, 41);
    color: rgb(253, 244, 238);
}

.logo{
    height: 50px;
    width: 50px;
}
h1{
    text-align: center;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: absolute;
    bottom: 0;*/
    width: 100%;
    background-color: black;
}
.copyright{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: small;
}

/*---------------------Home--------------------*/

.imghome{
    width: 100%;
}


/*---------------------Gallery--------------------*/



/*---------------------Contact--------------------*/

.map{
    width: 100%;
}
.formu{
    display: flex;
    flex-direction: column;
}
.namail{
    display: flex;
    flex-direction: column;
}
.formulaire{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
textarea[name=message]{
    width: 288px;
    height: 100px;
}



/*---------------------MQueries--------------------*/

